<form class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <h1>{{title}}</h1>
    <div class="form-template-group">
        <div class="form-template" *ngFor="let elementInput of userInputs.controls; let indexName=index"
            formGroupName="userInputs" [ngSwitch]="getElementInputTypeByIndex(indexName)">
            <label [for]="indexName">{{elementInputsNamesLabels(indexName)}} : </label>
            <span *ngSwitchCase="'input'">
                <input value="name" [id]="indexName" [type]="getElementInputDataByIndex(indexName).type"
                    [formControlName]="indexName" [defaultValue]="getElementInputDataByIndex(indexName).defaultValue" />
            </span>
            <span *ngSwitchCase="'select'">
                <select [id]="indexName" [formControlName]="indexName">
                    <option *ngFor="let optionValue of getElementInputDataByIndex(indexName).options">
                        {{optionValue}}
                    </option>
                </select>
            </span>
        </div>
    </div>
    <button type="submit" [disabled]="!form.valid">submit</button>
</form>